*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    margin-top: 10px;

}
.content-grid{
    display: grid;
    width:500px;
    /*grid-template-rows:  auto auto auto auto auto auto auto ;*/
   /* grid-template-columns: 15% 15% 40% 15% 15% ;*/
    
    /*Utilizando shorthan para definir filas y columnas*/
    /*grid: 14% 14% 14% 14% 14% 14% 14% / 15% 15% 40% 15% 15%;*/
    grid: 7% 7% auto auto auto  auto  auto auto  / 1fr 1fr 1fr 1fr 1fr ;
    /*definir las areas */
    
    height: 500px;
    border: 3px solid red;
    margin: 0 auto;

}
.contenido:nth-child(1){
    background: #ff6961;
    grid-row:1/3;
    grid-column: 1/2;

}
.contenido:nth-child(2){
    background: #ffb480;
    grid-row: 1/3;
    grid-column: 2/5;

}
.contenido:nth-child(3){
    background:#f8f38d ;
    

}

.contenido:nth-child(4){
    background: #08cad1;
 
}
.contenido:nth-child(5){
    background: #59adf6;
   grid-area: 3/1/4/6;
}

.contenido:nth-child(6){
    background:	#9d94ff; 
   grid-area: 4/1/6/3;
}

.contenido:nth-child(7){
    background: #c780e8;
   grid-area: 4/3/6/5;
    
}
.contenido:nth-child(8){
    background: violet;
    grid-area: 6/1/8/3;
 
    
    
}
.contenido:nth-child(9){
    background: green;
    grid-area: 6/3/8/5;
 
    
    
}

.contenido:nth-child(10){
    background: salmon;
    grid-area: 4/5/8/6;
 
    
    
}

.contenido:nth-child(11){
    background: greenyellow;
    grid-area: 8/1/9/6;
 
    
    
}

